

/**DETAILCHARACTER*/
.detalles-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.detalles-card__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-12);
}
.detalles-card__subtitle{
    font-size: var(--font-small);
    font-weight: 500;
}
.detalles-card__title{
    font-size: var(--font-jumbo);
    font-weight: 700;
}
.detalles-card__description{
    font-size: var(--font-large);
    font-weight: 400;
}
.detalles-card__price{
    font-size: var(--font-jumbo);
    font-weight: 400;
}
.detalles-card__code{
    font-size: var(--font-medium);
    font-weight: 500;
    color: var(--secondary-solid);
}
.detalles-count{
    display: flex;
    align-items: center;
    gap: var(--spacing-12);
}

.detalles-count__unidad{
    color: var(--dark-500);
    font-size: var(--font-xlarge);
    padding: var(--spacing-8) var(--spacing-68);
    max-width: 105px;
}
.detalles-button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-16);
}
.detalles-button__button{
    border: none;
    cursor: pointer;
    padding: 0 var(--spacing-4);
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
}
.detalles-count__compra{
    border: none;
    cursor: pointer;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-12);
    margin-left: var(--spacing-16);
    transition: all .3s ease-in-out;
}
.detalles-count__compra:hover{
    background-color: var(--primary-500);
    color: var(--dark-solid);
}
.detalles-card__cover img{
    animation: fade 1.3s;
}
.detalles-card__cover{
    display: flex;
}
.detalles__img--back{
    display: none;
}
.detalles-card__cover:hover .detalles__img--back{
    display: block;
}
.detalles-card__cover:hover .detalles__img--front{
    display: none;
}
.detalles-card__stockNull{
    font-size: var(--font-large);
    font-weight: 400;
    color: var(--primary-solid);
}
.detalles-card__stock{
    font-size: var(--font-large);
    font-weight: 400;
}
.detalles-card__stockLast{
    font-size: var(--font-large);
    font-weight: 400;
}
/**-DETAILCHARACTER-*/
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}